## Does language popularity affect salary?
In the previous notebook (most_used_programming_language_overall.ipynb) we saw which are the most popular programming languages based on their usage.

In this notebook I will look at the next two questions: Does language popularity affect salary or work satisfaction.

Let's start with the first one: Are developers who use more popular languages better paid?
Let's try to figure that out by using the ConvertedComp answers from the survey (yearly salary in USD) and the Language column we used in the previous notebook.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('data/2020.csv')

language_and_salary = df[['ConvertedComp', 'LanguageWorkedWith']]
# Remove the NaNs because we do not want to impute their values
# We are only interested in the avaiable results
language_and_salary = language_and_salary.dropna()
language_and_salary.head()

    ConvertedComp                   LanguageWorkedWith
7        116000.0                           Python;SQL
9         32315.0  HTML/CSS;Java;JavaScript;Python;SQL
10        40070.0                  C#;JavaScript;Swift
11        14268.0                  HTML/CSS;JavaScript
12        38916.0                  C;JavaScript;Python

In [4]:
# First let's find the average salary each developer received by grouping the responses
mean_salaries = language_and_salary.groupby('LanguageWorkedWith').aggregate(['count','mean'])
# Set more meaningful column names
mean_salaries.columns = ['Users', 'Average salary']
mean_salaries.columns.name = 'Langauge'
mean_salaries.index.name = ''

# Find the mean salary per language-stack that was used
mean_salaries = mean_salaries.sort_values('Average salary', ascending=False)
mean_salaries.head()

Langauge                                            Users  Average salary

Bash/Shell/PowerShell;Java;JavaScript;Objective...      1       2000000.0
Bash/Shell/PowerShell;C;C#;Go;HTML/CSS;Java;Jav...      1       2000000.0
C#;C++;HTML/CSS;JavaScript;Perl;SQL;VBA                 1       2000000.0
C#;Java;R;Scala;SQL                                     1       2000000.0
C;C++;Go;HTML/CSS;Java;JavaScript;Kotlin;Object...      1       2000000.0

We grouped people by the language they used, but because the language in the survey is the whole stack of languages they used, we got information about some exceptional individuals. We really want to get information about every language. So let's split the survey results into different columns.

In [5]:
def split_column(column: pd.Series, separator: str = ';') -> pd.DataFrame:
    """
    INPUT:
    responses - pandas Series with multiple values per cell, separated by a delimiter
    separator - separator between the values in the cells

    OUTPUT:
    pandas DataFrame where for each unique value exists a column and its value is either 1 or 0
    """
    return column.str.get_dummies(sep=separator)

split_languages_salaries_df = split_column(language_and_salary['LanguageWorkedWith'])
split_languages_salaries_df['Salary'] = language_and_salary['ConvertedComp']
split_languages_salaries_df.head()

,Assembly,Bash/Shell/PowerShell,C,C#,C++,Dart,Go,HTML/CSS,Haskell,Java,...,Python,R,Ruby,Rust,SQL,Scala,Swift,TypeScript,VBA,Salary
7,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,116000.0
9,0,0,0,0,0,0,0,1,0,1,...,1,0,0,0,1,0,0,0,0,32315.0
10,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,40070.0
11,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,14268.0
12,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,38916.0

We split the categorical variable Language used into a set of boolean columns and with this we can reason about each language independently. Let's try to determine the average salary for each language.

In [6]:
def aggregate_mean(df: pd.DataFrame, columns: [], agg_column: str) -> pd.DataFrame:
    """
    INPUT:
    df - pandas DataFrame with columns for which to find count and mean
    columns - list of column names for which to find count and mean
    agg_column - column for which to find mean

    OUTPUT:
    DataFrame with count and mean for each aggregated column
    """
    aggregated = {}
    for column in list(columns):
        mean = df[df[column] == 1].mean()[agg_column]
        count = len(df[df[column] == 1])
        aggregated[column] = (count, mean)
    return pd.DataFrame.from_dict(aggregated, orient='index')

salaries_df = aggregate_mean(split_languages_salaries_df, split_languages_salaries_df.columns[:-1], 'Salary')
salaries_df.columns = ['Users', 'Average salary']
salaries_df.columns.name = 'Language'
salaries_df.sort_values('Average salary', ascending=False)

Language               Users  Average salary
Julia                    241   170101.531120
Perl                    1072   155724.990672
Scala                   1377   145749.003631
Ruby                    2681   143067.032451
Rust                    1628   138282.399877
Go                      3322   134861.133955
Objective-C             1406   132170.721195
Bash/Shell/PowerShell  12514   123621.343455
R                       1789   123614.177194
Assembly                1420   121457.115493
Swift                   1949   120973.189841
Haskell                  564   116999.764184
VBA                     2006   114026.976570
Python                 13931   113061.525519
C++                     6358   111340.135263
Kotlin                  2656   109530.868223
TypeScript              9962   107735.755370
C#                     11104   107592.112122
C                       5423   107248.043334
Java                   12380   105150.557027
SQL                    19340   103281.520372
JavaScript             23619   102280.804691
HTML/CSS               20907   100018.777252
Dart                    1133    87885.134157
PHP                     8228    81937.732620

We are looking at a list with average salary per language. The top 5 most popular programming languages we found in the other notebook were JavaScript, HTML/CSS, SQL, Python and Java. From those 4 (excluding Python) are all the way on the bottom of the salary pyramid, with Python being slightly above them.
This data doesn't give us exact information on what one's salary would be if they used only one language. What we get instead is an estimation of a developer's salary if they use a particular language alongside other languages, which we are not accounting for here. So the fact Julia programmers are very well paid does not mean that these programmers only use Julia as  all of them could also be using Python and the combination of these 2 languages could be bossting their salaries to top place. We will come back to this later and try to explore ways to better determine one's salary.

The second question to answer in this notebook would what is the be the average job satisfaction per language. Let's see how happy developers are on average using a particular language. We will do the same data processing as we did for salary.

In [7]:
language_and_satisfaction = df[['JobSat', 'LanguageWorkedWith']]
language_and_satisfaction = language_and_satisfaction.dropna()
# JobSat is a categorical field, so let's map it to numerical values
list(language_and_satisfaction['JobSat'].unique())

['Slightly satisfied',
 'Very dissatisfied',
 'Very satisfied',
 'Slightly dissatisfied',
 'Neither satisfied nor dissatisfied']

In [8]:
# Create a map with all possible options for Job Satisfaction.
# We will use grades from 0 to 4 to determine how happy developers are 
satisfaction_map = {
    'Very satisfied': 4,
    'Slightly satisfied': 3,
    'Neither satisfied nor dissatisfied': 2,
    'Slightly dissatisfied': 1,
    'Very dissatisfied': 0,
}

split_languages_satisfaction_df = split_column(language_and_satisfaction['LanguageWorkedWith'])
split_languages_satisfaction_df['Satisfaction'] = language_and_satisfaction['JobSat'].map(satisfaction_map).dropna()
split_languages_satisfaction_df.head()

,Assembly,Bash/Shell/PowerShell,C,C#,C++,Dart,Go,HTML/CSS,Haskell,Java,...,Python,R,Ruby,Rust,SQL,Scala,Swift,TypeScript,VBA,Satisfaction
0,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,3
6,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,4
7,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1

In [9]:
# Use the function we wrote earlier to calculate the mean satisfaction and number of people using a given language 
satisfaction_df = aggregate_mean(split_languages_satisfaction_df, split_languages_satisfaction_df.columns[:-1], 'Satisfaction')
satisfaction_df.columns = ['Users', 'Satisfaction']
satisfaction_df.columns.name = 'Language'
# Our happiness scale is [0-4] so we scale to [0-100] to look at the percentages
satisfaction_df['Satisfaction'] = satisfaction_df['Satisfaction'] * 25
satisfaction_df.sort_values('Satisfaction', ascending=False)

Language               Users  Satisfaction
Julia                    328     68.750000
R                       2249     68.719431
Ruby                    3240     68.441358
Bash/Shell/PowerShell  15146     68.092236
Haskell                  728     68.028846
Rust                    2027     67.254563
Assembly                1929     67.210990
Python                 17569     67.209289
Scala                   1699     67.157151
TypeScript             12232     67.129251
Go                      4040     66.769802
Objective-C             1891     66.552089
Swift                   2565     66.549708
C++                     8409     66.402069
Perl                    1437     66.249130
C                       7403     66.199514
C#                     13919     66.100295
HTML/CSS               26487     66.042776
SQL                    24363     65.981201
JavaScript             29727     65.932486
Kotlin                  3379     65.581533
Java                   16086     65.008392
VBA                     2614     64.938791
PHP                    10778     64.689646
Dart                    1506     64.160027

Seems like the Julia programmers who also earn the most are the happiest with their job. While JavaScript, HTML/CSS programmers are not that happy (3% less happy than the Julia programmers). Keep in mind the statistics for Julia could be off because there's only a few developers who use it and the data cannot be very well compared to the rest of the languages.

At the end I would like to look at the salary statistics again but this time using quantiles. Because some individuals with exceptionally high salaries can throw off the mean salary, I will look at the quantiles for each language's salary and compare them with the mean salary. This goes beyond the question whether languages can affect salary, but is like a side note to keep in mind. The mean salaries we saw earlier in this notebook are not necessarily what a developer would earn straightaway after learning a particular language, but more of a metric to show how much a language is valued in the business.

In [14]:
def aggregate_describe(df: pd.DataFrame, columns: [], agg_column: str) -> pd.DataFrame:
    """
    INPUT:
    df - pandas DataFrame with columns, which to describe
    columns - list of column names for which to find count, mean and quantiles
    agg_column - column for which to find mean, count, quantiles

    OUTPUT:
    DataFrame with count, mean, quantiles for each aggregated column
    """
    aggregated = pd.DataFrame();
    for column in list(columns):
        aggregated[column] = df[df[column] == 1][agg_column].describe().rename(index=column)
    return aggregated.transpose().drop(['min', 'max', 'std'], axis=1)

salaries_df = aggregate_describe(split_languages_salaries_df, split_languages_salaries_df.columns[:-1], 'Salary')
salaries_df.columns.name = 'Language'
salaries_df.sort_values('mean', ascending=False)

Language                 count           mean      25%      50%        75%
Julia                    241.0  170101.531120  34000.0  59454.0  115452.00
Perl                    1072.0  155724.990672  44100.0  76131.5  130000.00
Scala                   1377.0  145749.003631  44028.0  75669.0  135000.00
Ruby                    2681.0  143067.032451  37834.0  71093.0  125000.00
Rust                    1628.0  138282.399877  43817.5  74000.0  126188.00
Go                      3322.0  134861.133955  40070.0  74034.0  129718.00
Objective-C             1406.0  132170.721195  32331.0  63654.0  120000.00
Bash/Shell/PowerShell  12514.0  123621.343455  37816.0  65052.0  111000.00
R                       1789.0  123614.177194  28536.0  56723.0   98321.00
Assembly                1420.0  121457.115493  25611.0  52942.0  100000.00
Swift                   1949.0  120973.189841  25944.0  58368.0  109871.00
Haskell                  564.0  116999.764184  35535.0  60130.5  117187.75
VBA                     2006.0  114026.976570  25890.0  51069.0   90000.00
Python                 13931.0  113061.525519  28698.0  59454.0  103408.00
C++                     6358.0  111340.135263  23786.5  53196.0   98000.00
Kotlin                  2656.0  109530.868223  25204.5  53790.0   93000.00
TypeScript              9962.0  107735.755370  27888.0  56975.0  100000.00
C#                     11104.0  107592.112122  27612.0  56723.0   96945.00
C                       5423.0  107248.043334  20760.0  50000.0   95536.00
Java                   12380.0  105150.557027  22339.0  50405.5   93533.00
SQL                    19340.0  103281.520372  25000.0  54049.0   95000.00
JavaScript             23619.0  102280.804691  24000.0  52800.0   94600.00
HTML/CSS               20907.0  100018.777252  23352.0  51704.0   90482.00
Dart                    1133.0   87885.134157  12372.0  36753.0   76000.00
PHP                     8228.0   81937.732620  15588.0  38916.0   71380.25

The mean is very different from the median for all languages. This shows that a small number of individuals receive very high salaries offthrowing the mean value. I will leave this information here, since we were interested in how much one could earn using a particular language on average.